.header {
  background-color: #1c1c21;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navGroup {
  display: flex;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile {
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: #F2F2F3;
}